// BOOTSTRAP override btn general rules
.btn {
  font-weight: $OSsemi-bold !important;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border: none !important;
  padding: 0.5rem 1.2rem !important;
}

// BTN CUSTOM RULES

// signup btn on Home
.btn-info {
  background-color: $fucsia !important;
  padding: 0.8rem 3rem !important;
  border-radius: 26px !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 1em !important;
  transition: 0.3s ease;
  &:hover {
    background-color: rgb(179, 0, 74) !important;
    color: rgba(255, 255, 255, 0.8);
  }
}

// login, sign up user and create post pages
.btn-container {
  margin-top: 2rem;
  //margin-bottom: 2rem;
}

// btn "submit" on PostCard
.button-save-delete .btn-primary {
  margin-left: 1.875rem;
}

// btn upload files
.btn-file {
    position: relative;
    overflow: hidden;
    width: 124px;
    .text {
      font-size: 0.8em;
      color: white;
    }
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

